body{
    background-color: #F3F3F3;
    margin: 0px;
    overflow: hidden;
}

#development{
    background-image: url('../Files/LogoDark.png') ;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    background-size: 25vh;
    width: 100vw;
    height: 100vh;

}
