body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto; }

#container {
  width: 1200px;
  margin: 0 auto; }

.project-content {
  margin-top: 60px; }
  .project-content h1 {
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    margin: 0;
    color: var(--text-color); }
  .project-content h2 {
    font-family: 'Jost', sans-serif;
    font-size: 33px;
    color: var(--text-color); }
  .project-content .description {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-bottom: 40px; }
    .project-content .description h3, .project-content .description ul, .project-content .description li {
      font-family: 'Jost', sans-serif;
      color: var(--text-color); }
    .project-content .description h3 {
      font-weight: lighter;
      color: var(--link-color);
      margin: 0;
      margin-top: 25px; }
    .project-content .description ul {
      margin-top: 0;
      list-style: none;
      padding: 0;
      margin-bottom: 30px;
      font-size: 20px; }

.section {
  margin-bottom: 50px; }

.sec-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  grid-gap: 20px; }
  .sec-one .sec-card {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center; }
    .sec-one .sec-card img {
      object-fit: contain;
      max-width: 50%; }
  .sec-one .sec-card-one {
    background-color: white; }
  .sec-one .sec-card-two {
    background-color: #171717; }
  .sec-one .sec-card-three {
    background: #7f00ff;
    background: -moz-linear-gradient(30deg, #7f00ff 0%, #f70019 100%);
    background: -webkit-linear-gradient(30deg, #7f00ff 0%, #f70019 100%);
    background: linear-gradient(30deg, #7f00ff 0%, #f70019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f00ff",endColorstr="#f70019",GradientType=1); }

.sec-two h2, .sec-two p {
  font-family: Manteka;
  text-align: center; }
.sec-two h2 {
  font-size: 35px; }
.sec-two p {
  font-size: 20px;
  color: var(--text-color); }

.sec-three {
  text-align: center; }
  .sec-three img {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 1200px) {
  #container {
    margin-left: 20px;
    margin-right: 20px; } }
@media screen and (max-width: 1089px) {
  .section {
    grid-template-columns: 1fr 1fr; } }
@media screen and (max-width: 725px) {
  .section {
    grid-template-columns: 1fr; } }
@media screen and (max-width: 425px) {
  .sec-one .sec-card {
    width: 250px;
    height: 250px; }

  .sec-two h2, .sec-two p {
    font-family: Manteka;
    text-align: center; }
  .sec-two h2 {
    font-size: 25px; }
  .sec-two p {
    font-size: 15px;
    color: var(--text-color); } }

/*# sourceMappingURL=p2.css.map */
