:root {
    --background-color: #F3F3F3;
    --text-color: #282828;
    --link-color: #808080;
    --card-bg-s1: rgb(255,255,255);
    --card-bg-s2: -moz-linear-gradient(227deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    --card-bg-s3: -webkit-linear-gradient(227deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    --card-bg-s4: linear-gradient(227deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    --card-bg-s5: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f5f5f5",GradientType=1); 
    
  }
  
  .dark-theme {
    --background-color: #282828;
    --card-bg-s1: rgb(58,58,58);
    --card-bg-s2: -moz-linear-gradient(204deg, rgba(58,58,58,1) 0%, rgba(42,42,42,1) 100%);
    --card-bg-s3: -webkit-linear-gradient(227deg, rgba(58,58,58,1) 0%, rgba(42,42,42,1) 100%);
    --card-bg-s4: linear-gradient(227deg, rgba(58,58,58,1) 0%, rgba(42,42,42,1) 100%);
    --card-bg-s5:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3a3a', endColorstr='#2a2a2a');
    --text-color: #FCFCFC;
    --link-color: #C8C8C8;
    transition: .1s;
  }